* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: "VT323", cursive;
    font-size: 1.2em;
    text-align: center;
    background-color: black;
    color: white;
}

/*    PIXEL ART MAKER TITLE     */

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 1.5em;
    padding: 1em;
    color: white;
    background-color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00BFFF, 0 0 10px #00BFFF, 0 0 10px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF;
    text-transform: uppercase;
    text-align: center;
}

/*    USER INPUT AND COLOR PICKER     */

.userInput {
    margin: 1em;
}

input[type=number] {
    font-family: "VT323", cursive;
    font-size: 1em;
    text-align: center;
}

.buttons {
    margin: 1em;
}

.color-picker p {
    margin-top: 1em;
}

#color {
    margin-bottom: 1em;
}

#submit,
button,
#color {
    font-family: "VT323", cursive;
    font-size: 1em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 0.1em;
}

#submit,
button,
#color,
table,
input[type=number] {

    border: 0.1em solid #00BFFF;
    border-radius: 0.2em;
}

/*     TABLE     */

table,
tr,
td {
    border: solid lightgrey 1px;
    padding: 0.5em;
}

.grid {
    margin: 1em auto;
    background-color: white;
    overflow: auto;
}
