/*TODO: move content to left and canvas right*/

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: "VT323", cursive;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
}
table,
tr,
td
{
    border: solid lightgrey 1px;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    margin: 1em auto;
    background-color: white;

}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 1.5em;
    padding: 1em;
}

#submit,
button {
    font-family: "VT323", cursive;
    font-size: 1em;
}

.userInput {
    margin: 1em;
}

.group-buttons {
    margin: 1em;
}

.color-picker p {
    margin-top: 1em;
}
