/*TODO: move content to left and canvas right*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: "VT323", cursive;
    font-size: 1.2em;
    text-align: center;
    background-color: black;
    color: white;
}

table,
tr,
td {
    border: solid lightgrey 1px;
    padding: 0.5em;
}

.grid {
    border-collapse: collapse;
    margin: 1em auto;
    background-color: white;
}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 1.5em;
    padding: 1em;
    color: white;
    background-color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00BFFF, 0 0 10px #00BFFF, 0 0 10px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF;
    text-transform: uppercase;
    text-align: center;

}

#submit,
button,
#color{
    font-family: "VT323", cursive;
    font-size: 1em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 0.1em solid #00BFFF;
    border-radius: 0.2em;
    padding: 0.1em;
}

.userInput {
    margin: 1em;
}

.group-buttons {
    margin: 1em;
}

.color-picker p {
    margin-top: 1em;
}

#color {
    margin-bottom: 1em;
}

.blue-border {
    border: 0.1em solid #00BFFF;
    border-radius: 0.2em;
}
